
  
  <!-- Footer-->
   <footer class="container-fluid no-padding">
    <div class="footer__container">
      <div
        class="d-lg-flex flex-sm-column flex-md-row justify-content-between align-items-sm-center footer__div"
      >
        <div class="footer__holder">
          <h3 class="footer__title">Get to Know Us</h3>
          <ul 
          class="footer__subtitle"
          style="line-height: 200%">
            <li>
              <a
                style="color: white; text-decoration: none"
                th:href="@{/guest/frequently_asked_questions}"
                target="_blank"
              >
                FAQs
              </a>
            </li>
            <li>
              <a
                style="color: white; text-decoration: none"
                th:href="@{ /guest/terms_and_conditions}"
                target="_blank"
              >
                Terms and Conditions
              </a>
            </li>
            <li>
              <a
                style="color: white; text-decoration: none"
                th:href="@{/guest/help_and_support}"
                target="_blank"
              >
                Help and support
              </a>
            </li>
            <li>
              <a
                th:href="@{/guest/about_management_company}"
                style="color: white; text-decoration: none"
                target="_blank"
                rel="noopener noreferrer"
              >
                About the management company
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__holder">
          <h3 class="footer__title">Contact</h3>
          <ul
            class="footer__subtitle"
            style="line-height: 200%"
          >
            <li>Tel: +959 98-656-3091</li>
            <li>Viber: +959 98-656-3091</li>
            <li>Telegram: +959 98-656-3091</li>
            <li>Line: +959 98-656-3091</li>
            <li>WhatsApp: +959 98-656-3091</li>
          </ul>
        </div>
        <div class="footer__holder">
          <img
            src="/images/bliss-stock.png"
            alt="logo"
            class="align-self-end"
          />
        </div>
      </div>
      <div class="copyright">
        <div class="center">
          <p class="copyright__text">
            © Copyright Pyinnyar Subuu. All Rights
            Reserved
          </p>
        </div>
      </div>
    </div>
  </footer>

