


<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <div th:replace="fragments/guestnav"></div>
</div>

<div th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
    <div th:replace="fragments/student-nav"></div>
</div>

<div th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'')')}">
    <div th:replace="fragments/teacher-nav"></div>
</div>

<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div th:replace="fragments/adminnav"></div>
</div>

<div th:if="${#authorization.expression('hasRole(''ROLE_SUPER_ADMIN'')')}">
    <div th:replace="fragments/adminnav"></div>
</div>
