<nav class="fixed-top">
  <div class="d-flex justify-content-between w-100 navs">
  
    <div class="navbar-logo-holder">
      <a th:href="@{/}"><img src="/images/logo.png"/></a>
    </div>

    <div class="d-flex links-div " id="linkholderteachers">

      <div class="d-flex form__group field align-items-center align-self-center ">
        <img src="/images/icons/search-icon.svg" class="icon" />
        <a class=" ms-3 linkholderteachers"  th:href="@{/guest/explore}">Search the Course</a>
      </div>

      <div class="link-holder ">
        <a class="nav-link linkholderteachers"  th:href="@{/home}">My Course</a>
      </div>

      <div class="link-holder">
        <a class="nav-link linkholderteachers" th:href="@{/teacher/profile/}">Profile</a>
      </div>

      <!--<div class="link-holder">
        <a
            class="nav-link linkholderteachers"
            th:href="@{https://drive.google.com/file/d/1mrarzmhrAMq4xxwnE592pYRXcbNlhtRa/view?usp=sharing}"
            th:target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-download"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            User Manual
        </a>
      </div>-->

      <div class="link-holder">
        <a class="nav-link linkholderteachers " th:href="@{/exam}" style="font-weight: bold;">Exam</a>
      </div>

      <div class="link-holder">
        <a class="nav-link linkholderteachers " th:href="@{/logout}" style="color: var(--log-out); font-weight: bold;">Log out</a>
      </div>
      
    </div>

    <div class="hamburger-lines">
      <input
        type="checkbox"
        class="checkboxClass"
        id="#toggle"
      />
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
  </div>

  <div class="menu-items  ">
    <li><a class=" linkholderteachers" th:href="@{/home}">My Course</a></li>
    <li><a class=" linkholderteachers" th:href="@{/teacher/profile/}">Profile</a></li>
    <!--<li>
      <a class=" linkholderteachers" th:href="@{https://drive.google.com/file/d/1mrarzmhrAMq4xxwnE592pYRXcbNlhtRa/view?usp=sharing}" th:target="_blank" style="font-size: 17px;">
        User Manual
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-download"
        viewBox="0 0 16 16">
        <path
          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path
          d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
      </svg>
      </a>
   </li>-->

   <div class="link-holder">
    <a class="nav-link linkholderteachers " th:href="@{/exam}" style="font-weight: bold;">Exam</a>
  </div>
   
   <li><a class="linkholderteachers " th:href="@{/logout}" style="color: var(--log-out); font-weight: bold;">Log out</a></li><br />
   <!--<li>
      <div
        class="d-flex form__group field align-items-center align-self-center">
        <!-- <img
          src="../images/icons/search-icon.svg"
          class="icon" />
        <input
          type="input"
          class="form__field"
          name="search"
          id="search"
          placeholder="Search"/>
      </div>
    </li>
    <li>
      <button type="submit" class="date__btn">
        Search
      </button>
    </li> -->

        <img
            src="/images/icons/search-icon.svg" 
            class="icon"
          />
       
          <a class=" ms-3 linkholder"  th:href="@{/guest/explore}"
          >Search the Course</a>

        </div>
   
    </div>
  </nav>
