@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
*{
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body{
  background: #F0F0F0;
}

.text-gray {
    color: #aaa
}

/* img {
    height: 170px;
    width: 140px
} */