  .completecard{
    height: 195px;
    width: 604px;
    left: 418px;
    top: 146px;
    border-radius: 4px;
    padding: 32px;

    /* Auto Layout */

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;*/

    position: static;
    width: 604px;
    height: 195px;
    left: 418px;
    top: 146px;

    background: #FFFFFF;
    border-radius: 4px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
  }

  .container-custom{
    max-width: 720px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(20%);

     min-height: 44vh;
    /* display: flex;
    flex-direction: column;  */
}

