/* Search Section */

section.explore__courses {
	margin-top: 120px;
	padding: 0 0px;
}

section.explore__courses h1 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 32px;
}

.search__container {
	padding: 50px;
	width: 100%;
	background-color: var(--primary);
}

.input {
	width: 100%;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 4px;
	padding: 24px;
	color: white;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	color: white;
}

.date__btn {
	padding: 24px;
	height: auto;
	border: 2px solid #ffeca4;
}

.col-sm {
	padding: 0;
}

/* Courses Section */
.courses__section {
	padding: 0 50px;
}

.filter__heading {
	background: #00736c;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 40px;
	color: white;
	font-weight: 600;
	font-size: 24px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.filter__container {
	padding-top: 23px;
	padding-left: 40px;
	border: 2px solid #00736c;
}

.filter__container h3 {
	font-size: 22px;
}

.filterCheckbox {
	height: 18px;
	width: 18px;
	margin-right: 11px;
}

.filterDescription {
	margin: 0;
	margin-right: 11px;
}

.specification__container {
	margin-bottom: 41px;
}

.filter__buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	background-color: #00736c;
	width: 100%;
	padding: 15px 60px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.button__clear {
	background: #eb6c78;
	padding: 14px 40px;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 4px;
}

.button__apply {
	background-color: white;
	padding: 14px 40px;
	color: black;
	border: none;
	font-size: 16px;
	border-radius: 4px;
}

.detail__title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}

.role__title {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 10px;
}

.detail__description {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.detail__btn {
	padding: 6px 24px;
	background-color: #efdd38;
	font-weight: 500;
	border: none;
	margin-bottom: 24px;
}

.detail__img {
	width: 286px;
	height: 207px;
	border-radius: 4px;
	margin-right: 34px;
}

.pagination__description {
	font-size: 16px;
}

.current__page {
	font-size: 20px;
	color: var(--primary);
}

.pagination-button {
	color: var(--primary);
}
