html,
body {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: auto;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

body {
    background-color: #f0f0f0;
}

/* .breadcrumb li a { */
    /* background-color: #FFFFFF; */
    /* color: #5227CC;
    background-color: transparent;
    text-decoration: none;
} */

.push {
    height: 50px;
}

.completecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    width: 800px;
}

.card-header {
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
    /* border-radius: 10px; */
}

/* .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #7749F8 !important;
} */

/* .formborder{
    border:1px solid #DAD9D9;
    padding: 10px;
    width: 250px;
} */
/*footer*/

.footer-link {
    margin-top: 40px;
    padding: 40px 0 30px 0;
    background-color: #DAD9D9;
}

.footer-link ul {
    padding: 0;
}

.footer-link ul li {
    list-style-type: none;
    float: left;
}

.footer-link ul li a {
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    display: block;
    padding: 5px 15px;
}

.footer-link ul li a:hover {
    color: #f549ec;
}

.footer-link ul li.active a {
    color: #f549ec;
}

.footer-social {
    background-color: #DAD9D9;
    color: rgb(0, 0, 0);
}

.copy-c {
    padding: 15px 0;
}
