<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4"
>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no"
    />

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="css/dataTables.bootstrap5.css"
      th:href="@{/css/dataTables.bootstrap5.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/shCore.css"
      th:href="@{/css/shCore.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/demo.css"
      th:href="@{/css/demo.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/AT0003_ListofTeachers.css"
      th:href="@{/css/AT0003_ListofTeachers.css}"
    />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTableManual.css">
            <link rel="stylesheet" type="text/css" href="css/dataTableSCSSMaual.css"> -->

    <title>Pyinnyar Subuu</title>

    <link rel="icon" type="image/x-icon" href="/images/fav.png" />

    <script
      type="text/javascript"
      language="javascript"
      src="https://code.jquery.com/jquery-3.5.1.js"
      th:src="@{https://code.jquery.com/jquery-3.5.1.js}"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="js/jquery.dataTables.js"
      th:src="@{/js/jquery.dataTables.js}"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="js/dataTables.bootstrap5.js"
      th:src="@{/js/dataTables.bootstrap5.js}"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="js/shCore.js"
      th:src="@{/js/shCore.js}"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="js/demo.js"
      th:src="@{/js/demo.js}"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      class="init"
      th:inline="javascript"
    >
      /*<![CDATA[*/

      $(document).ready(function () {
        var t = $("#example").DataTable({
          columnDefs: [
            {
              searchable: false,
              orderable: false,
            },
          ],
          order: [1, "asc"],
          dom: '<"top"f>rt<"bottom"lp><"clear">', // Positions table elements
          dom: "lrtip",
          // "language": {
          //     "search": "_INPUT_",            // Removes the 'Search' field label
          //     "searchPlaceholder": "Search"   // Placeholder for the search box
          // }
        });

        $("#mySearchButton").on("keyup click", function () {
          t.search($("#mySearchText").val()).draw();
        });

        // $("mySearchText").on("keyup",function(){
        //     t.search(this.value).draw();
        // });

        $("#account_status").on("change", function () {
          t.search(this.value).draw();
        });

        // $("#mySearchText").keyup(function() {t.fnFilter(this.value);});
        // $('#mySearchText').keypress(function(){
        //     t.fnFilter( $(this).val() );
        // });

        // $('#mySearchText').keypress(function(){
        //     t.fnFilter( this.value);
        // });

        // Yay it's ok
        $("#mySearchText").on("keyup search input paste cut", function () {
          t.search(this.value).draw();
        });
        //Yay it's ok

        t.on("order.dt search.dt", function () {
          t.column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        }).draw();
      });

      // $(document).ready(function () {
      //     var t = $('#example').DataTable({
      //         "columnDefs": [{
      //             "searchable": false,
      //             "orderable": false,
      //             "targets": 0
      //         }],
      //         "order": [
      //             [ 1, 'asc' ]
      //         ]
      //     });

      //     t.on('order.dt search.dt', function () {
      //         t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
      //             cell.innerHTML = i + 1;
      //         });
      //     }).draw();
      // });

      // dTable = $('#example').DataTable({
      //     "bLengthChange": false, // this gives option for changing the number of records shown in the UI table
      //     "lengthMenu": [4], // 4 records will be shown in the table
      //     "columnDefs": [
      //         { "className": "dt-center", "targets": "_all" } //columnDefs for align text to center
      //     ],
      //     "dom": "lrtip" //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
      // });

      // $('#myCustomSearchBox').keyup(function () {
      //     dTable.search($(this).val()).draw();   // this  is for customized searchbox with datatable search feature.
      // });

      //     $('#myCustomSearchBox').keypress(function(){
      //      oTable.fnFilter( $(this).val() );
      //  });

      //     $('#myCustomSearchBox').on( 'keyup', function () {
      //    table.search( this.value ).draw();
      // } );
      // $("#mySearchText").keyup(function() {
      //    dataTable.fnFilter(this.value);
      // });

      // $("#myCustomSearchBox").html($(".dataTables_filter"));
      /*]]>*/
    </script>
  </head>

  <body>
    <div style="position: relative">
      <div th:replace="${nav_type}"></div>
      <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
        <ol class="breadcrumb">
          <li class="breadcrumb-item ms-3">
            <a th:href="@{/admin/top/}">Top</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Teacher List
          </li>
        </ol>
      </nav>

      <!-- <div id="mySidebar" class="sidebar" style="float:left;">
                                                                        
                                                                            <div class="text">
                                                                                Menu
                                                                            </div>
                                                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                                                                            <ul class="main_side">
                                                                                <li><a th:href="@{/admin/profile}">Profile</a></li>
                                                                                <li> <a href="#" id="1">User List <span class="fas fa-caret-down"></span> </a>
                                                                                    <ul class="item-show-1">
                                                                                        <li><a th:href="@{/student-list}">Student List</a></li>
                                                                                        <li><a th:href="@{/teacher-list}" class="active-link">Teacher List</a></li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li><a th:href="@{/payment-list}">Payment Record</a></li>
                                                                                <li> <a id="2">Course <span class="fas fa-caret-down"></span> </a>
                                                                                    <ul class="item-show-2">
                                                                                        <li><a th:href="@{/course-list}">Course List</a></li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li><a th:href="@{/review-list}">Review List</a></li>
                                                                                <li><a th:href="@{/absence-list}">Absence List</a></li>
                                                                                <li><a th:href="@{/}">Log Out</a></li>
                                                                            </ul>
                                                                        </div> -->

      <!-- <div id="main" style="margin-left: 250px;"> -->
      <div id="main">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                                                                <div class="container-fluid">
                                                                                    <div style="justify-content: space-between;">
                                                                                        <button class="openbtn" onclick="openNav()">☰</button>
                                                                                        <a class="navbar-brand" href="#">Pyinnyar Subuu</a>
                                                                                    </div> -->

        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                                                                    <span class="navbar-toggler-icon"></span>
                                                                                  </button> -->
        <!-- <div class="header_img">
                                                                                    <img src="images/admin_profile.jpg" th:src="@{/images/admin_profile.jpg}" alt="people-profile" onclick="location.href='/profile'">
                                                                                </div>
                                                                                </div>
                                                                              </nav> -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div style="padding-left: 100px; float: right" class="">
            <button
              type="button"
              class="btn btn-primary mb-3 me-3"
              id="addadmin"
              th:onclick="|window.location.href='/check_email/register/teacher'|"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-plus-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                />
              </svg>
              Add Teacher
            </button>
          </div>
        </div>
      </div>
    </div>                                                                              


        
    <div class="container">
      <div class="d-none d-md-block d-lg-block d-xl-block">
            <div class="input-group mb-3 col-lg-4">
              <input
                type="text"
                class="form-control"
                id="mySearchText"
                placeholder="Search in Teacher List"
                aria-label="Search in Teacher List"
                aria-describedby="mySearchButton"
                />
                <button
                  class="btn btn-outline-secondary fw-bold"
                  id="mySearchButton"
                  type="button"
                >
                  Search
                </button>
            </div>

            <button class=" btn btn-primary float-end" id="downloadteacherlist">Export to Excel</button>

            <div class="input-group-prepend mb-3" style="width: 135px">
              <label class="text-muted">Account Status</label>
              <select
                class="form-select"
                aria-label=".form-select-sm example"
                id="account_status"
                style="width: 100%"
              >
                <option value="">ALL</option>
                <option value="Requested">REQUESTED</option>
                <option value="Verified">VERIFIED</option>
                <option value="Suspended">SUSPENDED</option>
              </select>
            </div>
            
            <div class="card mb-5">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table teacherListTable"
                    style="width: 100%">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Teacher Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Total numbers of course</th>
                        <th>List of course</th>
                        <th>Account Status</th>
                        <th>Course Registration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="dr,index:${tAllTeacherList}">
                        <td></td>
                        <td>
                          <b><a
                              th:href="@{'/admin/browse/profile/' + ${dr.uid}}"
                              th:text="${dr.userName}"
                              style="text-decoration: none"
                            ></a></b>
                        </td>
                        <td th:text="${dr.phoneNo}"></td>
                        <td th:text="${dr.userAccount.mail}"></td>
                        <td th:text="${dr.courseInfo.size}" class="text-center"></td>
                        <td class="">
                          <div class="dropdown" >
                              <button class="btn dropdown-toggle fw-bold text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Course
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span class="dropdown-item" th:each="course,idx:${dr.courseInfo}" th:text="${course.courseName}"></span>
                              </div>
                          </div>
                      </td>
                        <td th:text="${dr.userAccount.accountStatus}" class="accStatus"></td>
                        <td>
                          <a
                            th:href="@{'/admin/course-registration/' + ${dr.uid}}"
                            class="btn btn-primary"
                            style="float: center"
                            th:classappend="${dr.userAccount.accountStatus != accountStatus}? 'disabled'"
                            >Add Course</a>
                        </td>
                      </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                          <th>No</th>
                          <th>Name</th>
                          <th>Phone Number</th>
                          <th>Email</th>
                          <th>Account Status</th>
                          <th>Course Registration</th>
                        </tr>
                      </tfoot> -->
                  </table>
                </div>
              </div>
            </div>
      </div>

      <div class="mobile-view d-block d-md-none d-lg-none d-xl-none">
            <div class="mobile-item card" th:each="dr,index:${tAllTeacherList}">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="">
                    <!-- <img th:src="${dr.photo}" class="img-fluid rounded-circle" alt=""> -->
                    <span class="fw-bold text-white">
                      <b><a
                        th:href="@{'/admin/browse/profile/' + ${dr.uid}}"
                        th:text="${dr.userName}"
                        style="text-decoration: none"
                      ></a></b>
                    </span>
                  </div>
                  <div class="btn btn-dark btn-sm">
                    <a
                          th:href="@{'/admin/course-registration/' + ${dr.uid}}"
                          class="btn btn-primary text-decoration-none text-white"
                          style="float: center"
                          th:classappend="${dr.userAccount.accountStatus != accountStatus}? 'disabled'"
                          >Add Course</a>
                  </div>
                </div>
              </div>
              <div class="card-body text-white">
                <div class="dropdown position-relative">
                  <button class="btn text-start w-100 dropdown-toggle px-0 text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    List Of Courses
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <span class="dropdown-item" th:each="course,idx:${dr.courseInfo}" th:text="${course.courseName}"></span>
                  </div>
                </div>
                <div class="my-2">
                  <span class="fw-bold">Account Status -</span>
                  <span class="mx-2 accStatus" th:text="${dr.userAccount.accountStatus}"></span>
                </div>
                <div class="my-2">
                  <span class="fw-bold">Total No. Of Courses -</span>
                  <span class="mx-2 text-center" th:text="${dr.courseInfo.size}"></span>
                </div>
                <div class="d-flex align-items-center flex-wrap">
                  <div class="my-2 mx-2">
                    <i class="fa-solid fa-phone"></i>
                    <span class="mx-2" th:text="${dr.phoneNo}"></span>
                  </div>
                  <div class="my-2 mx-2">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="mx-2" th:text="${dr.userAccount.mail}"></span>
                  </div>
                </div>
              </div>
            </div>
      </div>

    </div>

    <div th:replace="@{fragments/footer}"></div>

    <script>
      document.getElementById("downloadteacherlist").addEventListener("click", function () {
          var table2excel = new Table2Excel();
          table2excel.export(document.querySelectorAll(".teacherListTable"));
        });
    </script>

    <script th:src="@{/js/table2excel.js}"></script>


    <!-- <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("sidebutton").style.display = "none";
        document.getElementById("mySidebar").style.position = "fixed";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("sidebutton").style.display = "block";
        document.getElementById("sidebutton").style.width = "5px";
      }

      // $(window).scroll(function () {
      //     $('#footer').css('left', '-' + $(window).scrollLeft() + 'px');
      // });

      // $(window).scroll(function () {
      //     var scroll_top = $(this).scrollTop(); // get scroll position top
      //     var height_element_parent = $("#mySidebar").parent().outerHeight(); //get high parent element
      //     var height_element = $("#mySidebar").height(); //get high of elemeneto
      //     var position_fixed_max = height_element_parent - height_element; // get the maximum position of the elemen
      //     var position_fixed = scroll_top < 250 ? 250 - scroll_top : position_fixed_max > scroll_top ? 0 : position_fixed_max - scroll_top;
      //     $("#mySidebar").css("top", position_fixed);
      // });

      var $scrollingDiv = $("#mySidebar");

      $(window).scroll(function () {
        var y = $(this).scrollTop(),
          maxY = $("#footer").offset().top,
          scrollHeight = $scrollingDiv.height();

        if (y < maxY - scrollHeight) {
          $scrollingDiv
            .stop()
            .animate({ marginTop: $(window).scrollTop() + "px" }, "slow");
        }
      });
    </script> -->

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> -->
    <script th:src="@{/js/CM0002_CourseList.js}"></script>

    <script>
      let td=document.getElementsByClassName('accStatus');
        

        for(let i=0;i<td.length;i++){
          console.log(td[i].innerHTML)
          if(td[i].innerHTML=="VERIFIED"){
              // td[i].innerHTML = "";
              // td[i].classList.add('fa-solid')
              // td[i].classList.add('fa-check')
              td[i].classList.add('bg-success')
              // td[i].classList.add('mt-3')
              
          }
          else if(td[i].innerHTML=="REQUESTED"){
            // td[i].innerHTML = "";
            // td[i].classList.add('fa-solid')
            // td[i].classList.add('fa-code-pull-request')
            td[i].classList.add('bg-info')
            // td[i].classList.add('mt-3')
          }
          else{
              // td[i].innerHTML = "";
              // td[i].classList.add('fa-solid')
              // td[i].classList.add('fa-exclamation')
              td[i].classList.add('bg-warning')
              // td[i].classList.add('mt-3')
          }
      }
      
    </script>

  </body>
</html>
