<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" /> -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.css}" /> -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/customContainer.css}" />
  <title th:text="${title}">Change Password</title>

  <link rel="icon" type="image/x-icon" href="/images/fav.png">
</head>
<style>
  #eye{
    position: absolute;
	  top: 10.3rem;
	  right:  2rem;
	  cursor: pointer;
  }
</style>
<body>
  <div th:replace="@{fragments/nav}"></div>
  <div style=" margin-top: 130px; "></div>
  <div class="container-custom mb-5">
    <div class="card mt-5">
      <div class="card-header" th:text="${title}">Login</div>
      <div class="card-body">
        <div class="container">
          <form id="contactForm" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${passwordDTO}"
            method="post">
            <!--   -->
            <div th:if="${error != null}" class="alert alert-danger fade show" role="alert">
              <span th:text="${error}"></span>
            </div>
            <div th:if="${message != null}" class="alert alert-success fade show" role="alert">
              <span th:text="${message}"></span>
            </div>

            <div>

              <label class="form-label" for="password">Enter Old Password</label>
              <input th:field="*{oldPassword}" class="form-control" id="password" type="password"
                th:classappend="${#fields.hasErrors('oldPassword')}?'is-invalid':''" placeholder="ExamplePassword001" data-toggle="password" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">
                This field is required.
              </div>
            </div>

            <div class="mb-3">

              <label class="form-label" for="password">Enter New Password</label>

                <span th:text="*{password}" class="invisible"></span>

              <input th:field="*{password}" 
                   
                    class="form-control" 
                    id="password"
                    type="password"
                    th:classappend="${#fields.hasErrors('password')}?'is-invalid':''" 
                    automplete="new-password"
                   placeholder="ExamplePassword001" 
                   data-toggle="password"/>

                
                <!-- <i id="eye" class="bi bi-eye-fill eyeicons"></i> -->

              <div class="invalid-feedback" 
              th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Enter Confirm Password</label>
              <span th:text="*{confirmPassword}" class="invisible"></span>
              <input th:field="*{confirmPassword}" th:attr="data-value=*{confirmPassword}" class="form-control"
                id="confirmPassword" type="password" automplete="new-password" placeholder="ExamplePassword001" data-toggle="password" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
                th:errors="*{confirmPassword}"></div>
            </div>

            <div class="row justify-content-end">


              <button class="btn btn-primary col-auto" id="submitButton" type="submit" name="action" value="login">Apply Changes</button>
            </div>
        </div>
        </form>
      </div>
    </div>
    <!-- End of Card Body -->
  </div>
  <!---End of Card-->
  </div>
  </div>
</body>

<div style="margin-bottom: 70px;"></div>
  <!-- End of Container -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
  <script th:src="@{/js/main.js}"></script>

<!-- <script>
const eyeicon = document.getElementsByClassName('eyeicons');

eyeicon.addEventListener('click',()=>{
	

	if(eyeicon.classList.contains('bi-eye-fill ')){
		
		eyeicon.classList.replace('bi-eye-fill ','bi-eye-fill-slash');

		password.setAttribute('type','text');

	}else{
		

		eyeicon.classList.replace('fa-eye-slash','bi-eye-fill ');
		password.setAttribute('type','password');
	}
});

</script> -->
<div th:replace="@{fragments/footer}"></div>
<script th:src="@{../js/main.js}"></script>

</html>