<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/course.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>

		<title>Course Details</title>
	</head>
	<body>
		<div th:replace="@{fragments/nav}"></div>
		<main>
			<section class="container-fluid section__detail">
				<h1 th:text="${courseInfo.courseName}"></h1>
				<p class="section__description">
					A course by <span th:text="${courseInfo.UserInfo.userName}"></span>
				</p>
				<div class="row">
					<div class="col-sm">
						<img th:src="${courseInfo.coursePhoto}" class="coursedetail__img">
					</div>
					<div class="col-sm mt-4 mt-sm-0 mt-md-0">
						<div class="d-flex flex-column">
							<button class="badge my-3"
									th:text="${courseInfo.fees} ? 'MMK ' + ${courseInfo.fees} : 'FREE'">

							</button>
							<div class="d-flex align-items-center my-0">

								<div th:if="${isLiveClass}">
									<img
									src="/images/calendar-event.svg"
									class="detail__icon"
									/>
									<p class="detail__description" style="display : inline-block"
									   th:utext="${#strings.substringBefore(courseInfo.startDate, ' ')} + ' ~ ' + ${#strings.substringBefore(courseInfo.endDate, ' ')}"></p>
									<br><br>
									<img 
									   src="/images/clock.svg"
									   class="detail__icon"
									/>   
									<div th:each="time : ${courseTimeList}" style="display : inline-block">
										<p th:text="${time.courseDays} + ' : ' + ${time.courseStartTime} + '~' + ${time.courseEndTime}"></p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center my-3">
								<img
									src="/images/person.svg"
									class="detail__icon"
								/>
								<p class="detail__description"
								   th:text="'Only ' + ${availableStuList} + ' more students!'"
								></p>
							</div>
							<div class="d-flex align-items-center my-3">
								<img
									src="/images/chat-square-dots.svg"
									class="detail__icon"
								/>
								<p class="detail__description"
								   th:text="${currentAttending} + ' students have taken this course!!'">
								</p>
							</div>
						</div>

						<!-- For guest user -->
						<div th:if="${guest == 'GUEST'}" class="d-flex justify-content-start px-5">
							<!-- <button class="btn__enroll">Enroll</button> -->
							<span th:if="${isCourseDateValid}!=null">
								<span th:if="${!isCourseDateValid}">
								  <div class="text-primary">
									This course is no longer valid to enroll
								  </div>
								</span>
								<span th:if="${isCourseDateValid}">
								  <form
									th:action="@{/guest/save/course-id/{courseId}(courseId = ${courseInfo.courseId})}"
									method="post"
								  >
									<button
									  th:if="${availableStuList > 0}"
									  class="btn__enroll"
									  type="submit">Enroll</button>
								  </form>
								</span>
							  </span>
							  <span th:if="${isCourseDateValid}==null">
								<form
								  th:action="@{/guest/save/course-id/{courseId}(courseId = ${courseInfo.courseId})}"
								  method="post">
								  <button
									th:if="${availableStuList > 0}"
									class="btn__enroll"
									type="submit">Enroll</button>
								</form>
							  </span>
						</div>

						          <!-- For Student -->
								  <div th:if="${student == 'STUDENT'}">
									<span th:if="${isCourseDateValid}!=null">
									  <span th:if="${isCourseDateValid}">
										<a
										  th:if="${studentNotRegistered}"
										  th:href="@{/student/enroll/{courseId}/{userId}(courseId = ${courseInfo.courseId}, userId = ${userId})}"
										  ><button
											class="btn__enroll"
											th:classappend="${studentRegistered == true}? 'disabled'"
										  >
											Enroll
										  </button></a
										>
									  </span>
						
									  <span th:if="${!isCourseDateValid}">
										<div class="text-primary">
										  This course is no longer valid to enroll
										</div>
									  </span>
									</span>
						
									<a
									  th:if="${isCourseDateValid}==null"
									  th:href="@{/student/enroll/{courseId}/{userId}(courseId = ${courseInfo.courseId}, userId = ${userId})}"
									>
									  <button
										th:if="${studentNotRegistered}"
										class="btn__enroll"
										type="submit"
									  >
										Enroll
									  </button>
									</a>
						
									<a
									  th:if="${!paymentComplete && studentRegistered}"
									  th:href="@{'/student/payment-upload/course_id/' + ${courseInfo.courseId}}"
									  ><button
										class="btn-primary"
									  >Payment</button></a>
									  <a
									  th:if="${studentRegistered}"
									  th:href="@{'/student/student-review/'+${courseInfo.courseId}}"
									  ><button class="btn-primary">
										<i class="fas fa-plus"></i> Write Review
									  </button></a
									>
						
									<!-- class link -->
									<div th:if="${studentRegistered}" class="mt-3">
									  <a th:href="@{${classLink}}" target="_blank"
										>Link to the course</a
									  >
									</div>
								  </div>
						
								  <!-- Teacher -->
								  <div th:if="${teacher == 'TEACHER'}">
									<a
									  th:if="${teacherRegistered}"
									  th:href="@{'/teacher/edit/'+ ${courseInfo.courseId}}"
									  ><button class=" btn btn-primary">Edit Course</button></a
									>
									 
									<a
									  th:if="${teacherRegistered}"
									  th:href="@{'/teacher/student-list/'+ ${courseInfo.courseId}}"
									>
									  <button class="btn btn-primary">Student List</button></a
									>
									<a
									th:if="${teacherRegistered}"
									th:href="@{'/teacher/course_syllabus/course_id/' + ${courseInfo.courseId}}"
									><button class="btn btn-primary">Manage Syllabus</button></a
								  >
					  
								  <div th:if="${teacherRegistered}">
									<p class="prerequisites my-3">Class Link</p>
					  
									<form
									  th:action="@{/teacher/course-details/insert-class-link}"
									  method="POST"
									>
									  <input
										type="hidden"
										name="courseId"
										th:value="${courseInfo.courseId}"
									  />
									  <input type="hidden" name="roleLink" value="teacher" />
									  <div class="input-group">
										<input
										  type="text"
										  name="class-link"
										  id="class-link"
										  th:value="${classlink}"
										  class="form-control"
										  placeholder="Insert class link"
										/>
										<!-- <button class="btn btn-primary">Submit</button> -->
									  </div>
									</form>
								  </div>
								</div>
					  
								<!-- Admin -->
								<div th:if="${admin == 'ADMIN'}">
					  
								  <!-- live class  -->
								  <span th:if="${isCourseDateValid}!=null">
									<span th:if="${!isCourseDateValid}">
									  <div class="text-primary">
										This course has already passed the starting date
									  </div>
									</span>
					  
									<span th:if="${isCourseDateValid}">
									  <a
										th:if="${!courseNotApprove}"
										th:href="@{'/admin/enrollStudent/course/' + ${courseInfo.courseId} }"
										><button
										  th:if="${availableStuList > 0}"
										  class="btn btn-primary"
										>
										  Enroll students
										</button></a
									  >
									</span>
								  </span>
					  
								  <!-- video class -->
								  <span th:if="${isCourseDateValid}==null">
									<a
									  th:if="${!courseNotApprove}"
									  th:href="@{'/admin/enrollStudent/course/' + ${courseInfo.courseId} }"
									  ><button
										th:if="${availableStuList > 0}"
										class="btn btn-primary"
									  >
										Enroll students
									  </button></a
									>
								  </span>
					  
								  <a
									th:href="@{'/admin/edit/course/' + ${courseInfo.courseId} + '/' + ${courseInfo.userInfo.uid}}"
									><button class="btn btn-primary">Edit Course</button></a
								  >
								  <!-- verify -->
								  <button
									th:if="${courseNotApprove}"
									type="button"
									class="btn btn-primary"
									data-bs-toggle="modal"
									data-bs-target="#verifyCourseConfirmModal"
									th:attr="data-bs-id=${courseInfo.courseId}"
									th:attrappend="data-bs-title=${courseInfo.courseName}"
								  >
									Verify Course
								  </button>
					  
								  <!-- Verify Confirm Modal -->
								  <div
									class="modal fade"
									id="verifyCourseConfirmModal"
									tabindex="-1"
									aria-labelledby="courseFormModalLabel"
									aria-hidden="true"
								  >
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  <h5 class="modal-title" id="courseFormModalLabel">
											Verify Course
										  </h5>
										  <button
											type="button"
											class="btn btn-primary"
											data-bs-dismiss="modal"
											aria-label="Close"
										  ></button>
										</div>
										<div class="modal-body">
										  <p>Are you sure to verify this course?</p>
										</div>
										<div class="modal-footer">
										  <button
											type="button"
											class="btn btn-primary"
											data-bs-dismiss="modal"
										  >
											Close
										  </button>
										  <button
											type="button"
											id="verifyCourse"
											class="btn btn-primary"
										  >
											VERIFY
										  </button>
										</div>
									  </div>
									</div>
								  </div>
								  <button
								  type="button"
								  class="btn btn-primary"
								  data-bs-toggle="modal"
								  data-bs-target="#deleteCourseConfirmModal"
								  th:attr="data-bs-id=${courseInfo.courseId}"
								  th:attrappend="data-bs-title=${courseInfo.courseName}"
								>
								  Delete Course
								</button>
					
								<!-- Delete Confirm Modal -->
								<div
								  class="modal fade"
								  id="deleteCourseConfirmModal"
								  tabindex="-1"
								  aria-labelledby="courseFormModalLabel"
								  aria-hidden="true"
								>
								  <div class="modal-dialog">
									<div class="modal-content">
									  <div class="modal-header">
										<h5 class="modal-title" id="courseFormModalLabel">
										  Delete Course
										</h5>
										<button
										  type="button"
										  class="btn btn-close"
										  data-bs-dismiss="modal"
										  aria-label="Close"
										></button>
									  </div>
									  <div class="modal-body">
										<p>
										  The data will permentently delete! recovery is not
										  possible!
										</p>
									  </div>
									  <div class="modal-footer">
										<button
										  type="button"
										  class="btn btn-secondary"
										  data-bs-dismiss="modal"
										>
										  Close
										</button>
										<button
										  type="button"
										  id="deleteCourse"
										  class="btn btn-primary"
										>
										  DELETE
										</button>
									  </div>
									</div>
								  </div>
								</div>
					
								<a
								  th:href="@{'/admin/course_syllabus/course_id/' + ${courseInfo.courseId}}"
								  ><button class="btn btn-primary">Manage Syllabus</button></a
								>
								<div>
								  <p class="prerequisites my-3">Class Link</p>
								  <form
									th:action="@{/admin/course-details/insert-class-link}"
									method="POST"
								  >
									<input
									  type="hidden"
									  name="courseId"
									  th:value="${courseInfo.courseId}"
									/>
									<input type="hidden" name="roleLink" value="admin" />
									<div class="input-group">
									  <input
										type="text"
										name="class-link"
										id="class-link"
										th:value="${classlink}"
										class="form-control"
										placeholder="Insert class link"
									  />
									  <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
									</div>
								  </form>
								</div>
							  </div>
							</div>
						  </div>
						</div>
<!-- assignment link of student -->
					<div th:if="${student == 'STUDENT'}">
						<div
						th:if="${studentRegistered} AND ${testListSize > 0}"
						class="container second-section"
						>
						<p class="link">Assignment link of the course</p>
						<div class="mt-3 row row-cols-1 row-cols-md-3 g-4">
							<div class="col" th:each="testList, stats : ${testList}">
							<div class="card" th:id="|card-${stats.index}|">
								<div class="card-body">
								<a
									th:href="@{${testList.testLink}}"
									th:text="${testList.testLink}"
									target="_blank"
									>Test Link</a
								>
								</div>
							</div>
							</div>
						</div>
						</div>
					</div>
				
				
					</div>
				</div>


				<!-- Syllabus -->
				<h3 class="category__title my-3"
					th:text="${courseInfo.category} + ' > ' + ${courseInfo.level}">
				</h3>
				<div class="d-flex flex-column flex-md-row justify-content-center justify-content-xl-start">
					<p class="course__description"
					   th:text="${courseInfo.aboutCourse}">
					</p>
				</div>
				<h3 class="prerequisites__title my-3">Prequisites</h3>
				<p class="prerequisites__description"
				   th:text="${courseInfo.prerequisite}">
				</p>
				<div class="syllabus__holder">
					<h3 class="syllabus__title">Syllabus</h3>
					<!-- syllabus update -->
					<div class="d-flex justify-content-between">
						<p class="syllabus__subtitle"
						   th:text="${'Chapters : ' + syllabusSize}">
						</p>
						<p class="syllabus__subtitle"
						   id="showAllDetails">
							Show detail of all Chapters
						</p>
					</div>
					<div class="detail__holder" th:each="sl:${syllabusList}">
						<div class="d-flex justify-content-between detail__bar">
							<p class="detail__description"
						   		th:text="${sl.title}"></p>
							<img src="/images/chevron-down.svg"
							 	class="chevronIcon"/>
						</div>
						<div class="detail__container"
						th:each="ct:${sl.content}"
						th:text="${ct.content}">
						</div>
					</div>
				</div>

				<h3 class="reviews__title mb-3">Reviews</h3>
				<div th:if="${courseReviewListEmpty}">
					<div class="mb-4 p-3 text-center">
                		<span class="letterpress">
							There is no current reviews from students.
						</span>
					</div>
				</div>
				<div class="reviews">
					<div th:each="review:${courseReviewList}">
					<div class="d-flex flex-column flex-md-row mb-3">
						<img
						th:src="${review.join.userInfo.photo}"
							class="profileImage"
							alt="profileImage"
						/>
						<div class="profileDescription">
							<h3 class="username"
								th:text="${review.join.userInfo.userName}"></h3>
							<p class="reviewedDatetime"
							   th:text="${#dates.format(review.assignedDate, 'yyyy-MM-dd')}">
							</p>
							<p class="reviewed__comment"
							   th:text="${review.feedback}">
							</p>
						</div>
					</div>
					</div>
				</div>
			</section>

		<div sec:authorize="hasAuthority('ROLE_ADMIN') || hasAuthority('ROLE_SUPER_ADMIN')">
      	<div class="container">
        <h2 class=" text-center">Student List</h2>
        <table id="studentListTable" class=" my-3">
          <thead>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Account Status</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr th:each="student,iter : ${studentList}">
              <td th:text="${iter.index + 1}"></td>
              <td th:text="${student.userName}"></td>
              <td th:text="${student.UserAccount.mail}"></td>
              <td th:text="${student.UserAccount.accountStatus}"></td>
              <!-- <td>
                <button class="btn">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td> -->
               <!-- Disable Take A Leave --> 
              <!-- <td>
                <a
                  th:href="@{'/admin/leave/'+${courseInfo.courseId}+'/'+${courseInfo.UserInfo.uid}+'?course_name='+${courseInfo.courseName}+'&teacher_name='+${courseInfo.UserInfo.userName}}"
                  ><button class="btn btn-primary">Take a Leave</button></a
                >
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
	  <button class=" btn btn-primary mb-4 ms-5" id="downloadstulist">Export to Excel</button>
    </div>

		</main>
		
		<div th:replace="@{fragments/footer}"></div>
		<img
			src="/images/arrow-up-square-fill.svg"
			class="scrollToTop show-scroll"
			onclick="handleScrollToTop()"
		/>


		<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
	<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"
	></script>

	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/CM0003_CourseDetails.js}"></script>
	<script th:src="@{/js/courseDetail.js}"></script>
	<script th:src="@{/js/table2excel.js}"></script>
	</body>
	</html>
