<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course List</title>

    <link rel="icon" type="image/x-icon" href="/images/fav.png" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

    <link rel="stylesheet" type="text/css" href="css/CM0002_CourseList.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col">
          <h2>My Courses</h2>
        </div>
      </div>

      <div class="row">
        <!-- Right Side -->
        <div class="col content">
          <div class="uploadBtn">
            <button class="btn btn-primary">Upload Course</button>
          </div>
          <div>
            <div th:if="${something}">
              <div class="card">
                <div class="card-body courseInfo">
                  <div class="row" th:each="course : ${courseList}">
                    <div class="col-lg-4">
                      <img src="images/course.jpg" alt="Course" />
                    </div>
                    <div class="col-lg-6 courseInfoText">
                      <h4 th:text="${course.courseName}"></h4>
                      <p th:text="${course.level}"></p>
                      <p th:text="${course.aboutCourse}"></p>
                      <h5
                        th:utext="${#strings.substringBefore(course.startDate, ' ')} + ' ~ ' + ${#strings.substringBefore(course.endDate, ' ')}"
                      ></h5>
                      <p th:text="${course.classType}"></p>
                    </div>
                    <div class="col-lg-2 courseInfoPrice">
                      <div>
                        <h5
                          class="centerText"
                          th:text="'$ ' + ${course.fees}"
                        ></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="page">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2 </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
