<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details Policy</title>

  <link rel="icon" type="image/x-icon" href="/images/fav.png">
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>

</head>

<body>
    <!-- nav -->
    <div th:replace="@{fragments/nav}"></div>
    <div class="row mt-5">
        <div class="col-lg-6 mx-auto mt-5">
            <button style="float: right" class="btn btn-primary my-4" id="toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-translate" viewBox="0 0 16 16">
                    <path
                        d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z" />
                    <path
                        d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z" />
                </svg>
                Change to English
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <!-- <div class="container justify-content-center"> -->
            <!-- heading -->
            <div class="d-flex justify-content-center">
                <div class="text-center mb-3">
                    <h3>Details Policy</h3>
                </div>
            </div>

            <!-- accordian -->
            <div id="LanguageEnglish" style="display: none">


                <div class="accordion" id="accordionExampleEnglish">
                    <!-- item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Rules to follow
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p>
                                    Please read these Terms and Conditions ("Agreement", "Terms
                                    and Conditions") carefully before using Pyinnyar Subuu
                                    Platform ("the website") and in these terms and conditions,
                                    "pyinnyar-subuu.com" will be referred to as (Pyinnyar Subuu,
                                    or “we”, or “us”, or “our”, “website”).
                                </p>
                                <li>
                                    (i) “You”, or “Users” are referred to as the teachers and
                                    the students who are using this website .
                                </li>
                                <li>
                                    (ii) “Teachers” are referred to as the teachers who are
                                    teaching in the online class on this Pyinnyar Subuu website.
                                </li>
                                <li>
                                    (iii)”Students” are referred to as the students who are
                                    learning in the online class on this Pyinnyar Subuu website.
                                </li>
                                <p>
                                    If you use this website you will need to read and understand
                                    the following terms and conditions carefully and agree to
                                    that. If you do not agree to any of the following terms and
                                    conditions, please do not use this website.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- item 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2.Terms of use
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li>
                                    2.1 The user is required to input specific personal
                                    information when applying for use of the web service of
                                    Pyinnyar Subuu. In addition, any data changes need to be
                                    updated immediately.
                                </li>
                                <li>
                                    2.2 In addition, you will need to provide proof of the
                                    authenticity of the information you have submitted, as
                                    requested by Pyinnyar Subuu.
                                </li>
                                <li>
                                    2.3 Keep your password somewhere safe, because you’re
                                    responsible for all activity associated with your account.
                                    Do not share your User Account and Password to others. If
                                    you suspect someone else is using your account, let us know
                                    by contacting us.
                                </li>
                                <li>
                                    2.4 If the user account's password or password is misused by
                                    another person or is attacked because of your carelessness,
                                    Pyinnyar Subuu shall not be held responsible in any way. No
                                    liability will be given.
                                </li>
                                <li>
                                    2.5 You must have reached the age of consent for online
                                    services in your country to use Pyinnyar Subuu.
                                </li>
                            </div>
                        </div>
                    </div>

                    <!-- item 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                3. Things users should avoid
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li>
                                    3.1 The user must abide by not only all applicable laws and
                                    regulations but also the telecommunications law in Myanmar.
                                </li>
                                <li>
                                    3.2 The user must agree to all terms and conditions relating
                                    to web services. Statements and procedures must be followed.
                                </li>
                                <li>
                                    3.3 The user does not have any copyrights or licenses, name,
                                    and reputation rights (or) any other legal rights and no
                                    violation shall be made against the interests of any third
                                    party.
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                4. Modifications and additions
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p>
                                    Under the sole discretion of Pyinnyar Subuu, the following
                                    actions may be taken in a timely manner.
                                </p>
                                <li>4.1 Amendments to this Agreement;</li>
                                <li>
                                    4.2 Additions to the Terms and Conditions of this Agreement.
                                    The above amended and supplemented; Additional terms and
                                    conditions will be posted on the website from the effective
                                    date.
                                </li>
                                <p>
                                    We will notify you if there are any amendments to this
                                    Agreement. If you continue to use the website after these
                                    modifications, we assume that you understand and accept the
                                    updated information and agree to that.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- item 5.1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse51" aria-expanded="false" aria-controls="collapse51">
                                5. Pyinnyar Subuu’s Rights
                            </button>
                        </h2>
                        <div id="collapse51" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li>
                                    5.1 We can make changes to our website and services at any
                                    time.
                                </li>
                                <li>
                                    5.2 If you break our terms and conditions, your
                                    account/payment, etc. can be cancelled at any time.
                                </li>
                                <li>5.3 We can change our standards at any time.</li>
                                <li>
                                    5.4 If teachers’ accounts are found to be in violation of
                                    our terms and conditions, they may be expelled.
                                </li>
                                <li>
                                    5.5 Online courses, comments, that do not comply with
                                    certain rules and regulations can be deleted at any time.
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 6 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                6. Commitment of Pyinnyar Subuu’s students
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p></p>
                                By enrolling in an online course, students are expected to
                                adhere to the following guidelines.
                                </p>
                                <li>
                                    6.1 Do your own projects and lesson-related assignments by
                                    yourself.
                                </li>
                                <li>
                                    6.2 Use your own user account and do not share your username
                                    and password with others.
                                </li>
                                <li>
                                    6.3 Do not do to increase your score by fraudulent methods
                                    related to exam results and assignments and do not do to
                                    decrease other students’ score.
                                </li>
                                <li>6.4 Lesson answers are not posted on social media.</li>
                            </div>
                        </div>
                    </div>
                    <!-- item 7 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                7. Terms and conditions for students
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p>
                                    Students will be considered for agreement to any of the
                                    followings if they are enrolled in one of the online class
                                    of Pyinnyar Subuu.
                                </p>
                                <li>
                                    7.1 We assume that the student agrees to the terms of use,
                                    commitment, rules and regulations, policies of Pyinnyar
                                    Subuu.
                                </li>
                                <li>
                                    7.2 If you break the commitment, you will not get the score
                                    for your assignments, dismissal from the class ၊ blocking
                                    the use of Pyinnyar Subuu
                                </li>
                                <li>
                                    7.3 We assume that you will follow the rules set by the
                                    teachers and there is no harassment of other students.
                                </li>
                                <li>
                                    7.4 Do not copy and redistribute the course materials in
                                    your own or someone else’s class.
                                </li>
                                <li>
                                    7.5 If you break any of the rules, you will be terminate
                                    your account at any time.
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 8-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                8. Payment from Students
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> 8.1 Students can make class fees payment via online banking account (Kpay,
                                    Wavepay,... etc) or other banking accounts.
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 9-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                9. Payment to Teachers

                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> 9.1 Pyinnyar Subuu Admin team will send updated student list to teachers and will
                                    transfer monthly fees to teachers’ bank account at every end of the months.
                                </li>
                                <li> 9.2 If a teacher commits any act that is inconsistent to the contract payment will
                                    be canceled or suspended from Pyinnyar Subuu side
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 10-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                10. Refunding Payment
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">


                                <li> 10.1 We cannot refund the class fees if you cancel the class within 3 days before
                                    the
                                    class
                                    start date. If you cancel the class over 3 days before the class start date and you
                                    have
                                    valid reason for your cancellation, we will refund 50% of your class fees. We,
                                    Pyinnyar
                                    Subuu
                                    team, can make judgement towards your reason of cancellation
                                </li>
                            </div>
                        </div>
                    </div> <!-- item 11-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                11. Fixing Class Fees
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> 11.1 Pyinnyar Subuu Team can fix the class fees or service charges and can
                                    decide
                                    whether
                                    classes are free or paid anytime. Thus, the fees can be changed depending on the
                                    time of
                                    each student makes purchases.
                                </li>
                                <li> 11.2 Students will be notified for any changes in class fees with mail or any
                                    other
                                    suitable way
                                </li>
                            </div>
                        </div>
                    </div> <!-- item 12-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                12. Submitting Reviews and Receiving Discount

                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> 12.1 After students received course completion mail, they can submit review to
                                    the
                                    course
                                    and can receive discount for future courses.
                                </li>
                            </div>
                        </div>
                    </div> <!-- item 13-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                13. Service Charges
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li> 13.1 Teachers have to pay 10 percent of total class fees of each class to
                                    Pyinnyar
                                    Subuu as
                                    service charge.</li>
                            </div>
                        </div>
                    </div> <!-- item14-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                14. Termination
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> 14.1 We can temporarily or permanently terminate your account if there is any
                                    act
                                    that is
                                    inconsistent to rules and regulation of our website.
                                </li>
                                <li> 14.2 If there is any violation to the rules occur, we can terminate your access
                                    to
                                    our
                                    website and can erase all your related data either whether we receive your
                                    suitable
                                    reason
                                    for violation or not.
                                </li>
                            </div>
                        </div>
                    </div>

                    <p  class="text-danger">
                        If you found any question about the above mentioned rules and regulations, you can feel free to reach us through our mail, sys@pyinnyar-subuu.com.
                    </p>

                    <!-- </div> -->




                </div>
            </div>
            <div id="LanguageBurmese">


                <div class="accordion" id="accordionExampleEnglish">
                    <!-- item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ၁။ လိုက်နာရန် စည်းမျဉ်းစည်းကမ်းများ
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p>
                                    အောက်ပါဖော်ပြချက်များသည် ပညာစုဗူး(Pyinnyar Subuu) ကို အသုံးပြုမည် ဆိုပါက
                                    လိုက်နာရမည့် စည်းမျဉ်းစည်းကမ်းများ ဖြစ်ပြီး နောက်ပိုင်းတွင် “pyinnyar-subuu.com” ကို
                                    (ပညာစုဗူး သို့မဟုတ် Pyinnyar Subuu သို့မဟုတ် ကျွန်ုပ်တို့ သို့မဟုတ် ဝက်ဆိုဒ် ဟု )
                                    ရည်ရွယ် သုံးနှုန်းသွားမည်ဖြစ်ပါသည်။
                                </p>
                                <li>
                                    (က) အသုံးပြုသူဆိုသည်မှာ ပညာစုဗူး Platform ပေါ်ရှိ ပညာစုဗူး websiteအား အသုံးပြုနေသော
                                    ဆရာ/ဆရာများနှင့် ကျောင်းသားများကို ရည်ညွှန်းပါသည်။
                                </li>
                                <li>
                                    (ခ) ဆရာများဆိုသည်မှာ ပညာစုဗူး တွင် အွန်လိုင်းသင်ကြားမှု ပြုလုပ်နေသော ဆရာ/ဆရာမများကို
                                    ရည်ညွှန်းပါသည်။
                                </li>
                                <li>
                                    (ဂ) ကျောင်းသားများဆိုသည်မှာ ပညာစုဗူး တွင် အွန်လိုင်းသင်တန်းများ သင်ယူလေ့လာနေသော
                                    ကျောင်းသားများကို ရည်ညွှန်းပါသည်။
                                </li>
                                <p>
                                    ဤ website ကို သင်အသုံးပြုမည်ဆိုပါက အောက်ပါ စည်းမျဉ်းစည်းကမ်းများကို သေချာစွာ ဖတ်ရှု၍
                                    နားလည်လက်ခံရန် လိုအပ်ပါသည်။ အကယ်၍ အောက်ပါ အချက်အလက် စည်းမျဉ်းစည်းကမ်း များကို
                                    သဘောမတူပါက ဤ website ကို အသုံးမပြုပါရန် လေးစားစွာ မေတ္တာရပ်ခံအပ်ပါသည်။
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- item 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ၂။ အသုံးပြုမှုဆိုင်ရာ သတ်မှတ်ချက်များ
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li>
                                    ၂.၁ ပညာစုဗူး ၏ Web Services များအား အသုံးပြုရန် လျှောက်ထားသောအခါ အသုံးပြုသူ သည်
                                    တိကျသော ကိုယ်ရေးကိုယ်တာ အချက်အလက်များအားထည့်သွင်းရန်လိုအပ်ပါသည်။ ထို့ပြင်
                                    အချက်အလက်ဆိုင်ရာ အပြောင်းအလဲများ ရှိလာလျှင်လည်း ချက်ချင်း
                                    အသစ်ပြန်လည်ပြုပြင်ရန်လိုအပ်ပါသည်။
                                </li>
                                <li>
                                    ၂.၂ ထို့ပြင် ပညာစုဗူး မှတောင်းဆိုမှုများရှိလာပါက ထည့်သွင်းထားသော
                                    ကိုယ်ရေးအချက်အလက်များ၏ တိကျမှန်ကန်မှုအား အတည်ပြုရန် အထောက်အထားများ
                                    စီစဉ်ပေးရန်လိုအပ်မည်ဖြစ်သည်။
                                </li>
                                <li>
                                    ၂.၃ အသုံးပြုသူသည် မိမိ၏ User Account နှင့် Password အား အခြားသူများသို့
                                    လွှဲပြောင်းခြင်း သို့မဟုတ် ငှားရမ်းခြင်းများ မပြုရပါ။ အသုံးပြုသူသည် မိမိ၏ User
                                    Account အား အခြားသူများမှ တရားမဝင် အသုံးပြုနေသည်ကို ရှာဖွေတွေ့ရှိလျှင် ပညာစုဗူး
                                    ထံသို့ ချက်ချင်း အသိပေးရမည်ဖြစ်သည်။
                                </li>
                                <li>
                                    ၂.၄ အကယ်၍ အသုံးပြုသူ၏ ပေါ့ဆမှုကြောင့် User Account နှင့် Password အား အခြားသူများ၏
                                    တရားမဝင်အသုံးပြုမှုများ ဖြစ်ပေါ်လာပါက(သို့မဟုတ်) တိုက်ခိုက်ခံရပါက ပညာစုဗူး
                                    နည်းပညာကုမ္ပဏီ အနေနှင့် မည်သည့်ပုံစံမျိုးနှင့်မှ တာဝန်ယူခြင်း၊ တာဝန်ခံခြင်းများ
                                    ပြုမည် မဟုတ်ပါ။
                                </li>
                                <li>
                                    ၂.၅ ပညာစုဗူးကို အသုံးပြုရန် အွန်လိုင်းဝန်ဆောင်မှုများအတွက် သဘောတူသည့် အသက်အရွယ်သို
                                    ရောက်ရှိနေရန်လိုအပ်ပါသည်။
                                </li>

                            </div>
                        </div>
                    </div>

                    <!-- item 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                ၃။ အသုံးပြုသူများ ရှောင်ကြဉ်ရမည့်အချက်များ
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li>
                                    ၃.၁ အသုံးပြုသူ သည် မြန်မာနိုင်ငံတွင်ရှိသည့် ဆက်သွယ်ရေး ဥပဒေ အပြင် အခြားသက်ဆိုင်သော
                                    ဥပဒေများနှင့် စည်းမျဉ်းသတ်မှတ်ချက်များအားလုံးအား လိုက်နာရမည်ဖြစ်ပါသည်။
                                </li>
                                <li>
                                    ၃.၂ အသုံးပြုသူသည် Web ဝန်ဆောင်မှုများနှင့် စပ်ဆိုင်သည့် အားလုံးသော သဘောတူညီချက်များ၊
                                    ထုတ်ပြန်ချက်များ နှင့် လုပ်ငန်းစဉ်များအား လိုက်နာရမည် ဖြစ်ပါသည်။
                                </li>
                                <li>
                                    ၃.၃ အသုံးပြုသူသည် မည်သည့် မှတ်ပုံတင်မူပိုင်များ၊ မူပိုင်ခွင့်များ၊
                                    နာမည်ဂုဏ်သတင်းဆိုင်ရာ ရပိုင်ခွင့် (သို့မဟုတ်) အခြားမည်သို့သော တရားဝင်
                                    ရပိုင်ခွင့်များ နှင့် တတိယ အဖွဲ့အစည်း၏ အကျိုးစီးပွားများ အပေါ်တွင်
                                    စည်းမျဉ်းချိုးဖောက်ခြင်းများ မပြုရပါ။
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                ၄။ ပြင်ဆင်မှု နှင့် ထပ်မံ ထည့်သွင်းချက်များ
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p>
                                    ပညာစုဗူး သည် တစ်ဦးတည်းဆုံးဖြတ်ပိုင်ခွင့်အရ အောက်ပါ အရာများကို အချိန်နှင့်အမျှ
                                    ဆောင်ရွက်နိုင်သည်။
                                </p>
                                <li> ၄.၁ ဤ သဘောတူညီမှုကို ပြင်ဆင်ဖြည့်စွက်နိုင်ခြင်း နှင့်</li>
                                <li>
                                    ၄.၂ ဤ သဘောတူညီမှု တွင် လိုအပ်သော စည်းမျဉ်းစည်းကမ်းများကို ထပ်မံ ထည့်သွင်းခြင်း
                                    စသည်တို့ဖြစ်သည်။ အကယ်၍ သဘောတူညီချက်ကို ပြင်ဆင်ဖြည့်စွက်ထားသော အချက်အလက်များရှိပါက
                                    ကျွန်ုပ်တို့ပညာစုဗူးဘက်မှ အကြောင်းကြားသွားမည် ဖြစ်ပါသည်။
                                </li>
                                <p>
                                    အဆိုပါပြင်ဆင်မှုများ အပြီး Website ကို ဆက်လက်အသုံးပြုနေပါက သင်သည်
                                    ပြင်ဆင်ဖြည့်စွက်ထားသော အချက်အလက်များကို နားလည်လက်ခံ သဘောပေါက်ပြီး ဖြစ်သည်ဟု
                                    ကျွန်ုပ်တို့မှ ယူဆပါသည်။
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- item 5.1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse51" aria-expanded="false" aria-controls="collapse51">
                                ၅။ ပညာစုဗူး၏ အခွင့်အရေးများ
                            </button>
                        </h2>
                        <div id="collapse51" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li>
                                    ၅.၁ ကျွန်ုပ်တို့ ပညာစုဗူးဘက်မှ ပညာစုဗူး Website နှင့်
                                    ဝန်ဆောင်မှုများပြုပြင်ပြောင်းလဲမှုများအား ဆောင်ရွက်ရာတွင်
                                    မည်သည့်အချိန်၌မဆိုဆောင်ရွက်နိုင်ပါသည်။
                                </li>
                                <li>
                                    ၅.၂ သတ်မှတ်ထားသည့်စည်းကမ်းချက်များအားဖောက်ဖျက်ပါက ပညာစုဗူးဘက်မှ သင်၏ Account /
                                    ငွေပေးချေမှု စသည်တို့ကို မည်သည့်အချိန်တွင်မဆို ဖျက်သိမ်းခွင့်ရှိသည်။
                                </li>
                                <li> ၅.၃ မည်သည့်အချိန် ၌မဆို ကျွန်ုပ်တို့၏ စံသတ်မှတ်ချက်များကို ပြောင်းလဲနိုင်သည်။</li>
                                <li>
                                    ၅.၄ အကယ်၍ ဆရာများ၏ Account တွင် ကျွန်ုပ်တို့၏ စည်းမျဉ်းစည်းကမ်းများအား
                                    ချိုးဖောက်သည်ကို တွေ့ရှိပါက ယင်းဆရာများကို ပညာစုဗူးဘက်မှ ထုတ်ပယ်နိုင်သည်။
                                </li>
                                <li>
                                    ၅.၅ ပညာစုဗူး ဘက်မှ စည်းမျဉ်းစည်းကမ်းတစ်ချို့နှင့် မကိုက်ညီသော အွန်လိုင်းသင်တန်းများ၊
                                    Comment များ ၊ Review များကို အချိန်မရွေး ပယ်ဖျက်ရပ်ဆိုင်းနိုင်သည်။
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 6 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                ၆။ ပညာစုဗူးရှိ ကျောင်းသားများ၏ ခံဝန်ကတိပြုခြင်း
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p></p>
                                ပညာစုဗူးရှိအွန်လိုင်းသင်တန်းကို စာရင်းပေးသွင်းခြင်းဖြင့် ကျောင်းသားများသည်
                                အောက်ပါအချက်များကို လိုက်နာပါမည်ဟု ယူဆပါသည်။
                                </p>
                                <li>
                                    ၆.၁ သင်ခန်းစာနှင့် သက်ဆိုင်သော Assignments များ၊ Project များကို မိမိဘာသာ
                                    လုပ်ဆောင်ပါမည်။
                                </li>
                                <li>
                                    ၆.၂ User Account တစ်ခုတည်းသာ အသုံးပြုပြီး အခြားသူများနှင့် မိမိ၏ Username နှင့်
                                    Password များကို မျှဝေသုံးဆွဲခြင်း မပြုပါ။
                                </li>
                                <li>
                                    ၆.၃ စာမေးပွဲ ရလဒ်များ၊ assignment များနဲ့ ပတ်သတ်၍ မသမာသည့်နည်းလမ်းများဖြင့်
                                    မိမိအမှတ်များအောင်၊ အခြားသူများ အမှတ်နည်းအောင် မပြုလုပ်ပါ။
                                </li>
                                <li> ၆.၄ သင်ခန်းစာများနှင့် သင်ခန်းစာအဖြေများကို လူမှုကွန်ယက်ပေါ်သို့ဖြန့်ဝေခြင်းမပြုပါ။
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 7 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                ၇။ ကျောင်းသားများအတွက် စည်းကမ်းသတ်မှတ်ချက်များ
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <p>
                                    ပညာစုဗူးရှိ အွန်လိုင်းသင်တန်း တစ်ခုခုတွင် တက်ရောက်ရန် စာရင်းပေးသွင်းပြီးပါက
                                    အောက်ပါအချက်များကို ကျောင်းသားများမှ လက်ခံမည်ဟု မှတ်ယူပါမည်။
                                </p>
                                <li>
                                    ၇.၁ ကျောင်းသားသည် ပညာစုဗူး ၏ အသုံးပြုမှုဆိုင်ရာ သတ်မှတ်ချက်များ၊
                                    ခံဝန်ကတိပြုခြင်းနှင့်၊ စည်းမျဉ်းစည်းကမ်းများ ကို လက်ခံသည်ဟု ယူဆပါသည်။
                                </li>
                                <li>
                                    ၇.၂ ခံဝန်ကတိကို ဖောက်ဖျက်ပါက Assignments အတွက်အမှတ်မရခြင်း၊ သင်တန်းမှ ထုတ်ပယ်ခြင်း ၊
                                    ပညာစုဗူး Website ကို နောက်တစ်ကြိမ် အသုံးပြုခွင့်မရအောင် ဆောင်ရွက်ခြင်း၊
                                    သင်တန်းဆရာများ ၊ အခြားသော course provider များမှလည်း အရေးယူအောင်ရွက်ခြင်း
                                    စသည်တို့ကို လုပ်ဆောင်သွားပါမည်။
                                </li>
                                <li>
                                    ၇.၃ ဆရာများမှ သတ်မှတ်ထားသော စည်းကမ်းချက်များကို လည်းလိုက်နာပြီး
                                    အခြားကျောင်းသားများအပေါ် နှောင့်ယှက်မှုမရှိဟု ယူဆပါသည်။
                                </li>
                                <li>
                                    ၇.၄ သင်တန်း၏ အချက်အလက် ကုန်ကြမ်းများ၊ နည်းလမ်းများကိုကူးယူပြီး သင့်ကိုယ်ပိုင်
                                    (သို့မဟုတ်) အခြားသူတစ်ဦးဦး၏ အတန်းတွင် ပြန်လည်ဖြန့်ဝေခြင်းမပြုရပါ။
                                </li>
                                <li>
                                    ၇.၅ အကယ်၍ သတ်မှတ်ထားသော စည်းကမ်းတစ်ခုခုကို ချိုးဖောက်ပါက ပညာစုဗူးဘက်မှ သင်၏
                                    အကောင့်ကို အချိန်မရွေး ပယ်ဖျက်ရပ်ဆိုင်းနိုင်ပါသည်။
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 8-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                ၈။ ကျောင်းသားများ၏ငွေပေးချေမှု
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> ၈.၁ သင်တန်းသားများမှ သင်တန်းကြေးများကို အွန်လိုင်း ငွေပေးချေမှု အကောင့်များ (Kpay,
                                    Wavepay,... etc) နှင့် ဘဏ်အကောင့်များမှ တစ်ဆင့် ငွေပေးချေနိုင်သည်။
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 9-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                ၉။ ဆရာများအား ငွေပေးချေမှု

                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> ၉.၁ ပညာစုဗူးဘက်မှ အသစ်ဝင်သည့် ကျောင်းသားဦးရေ စာရင်းကို ပေးပို့ပြီး ဆရာ့၏
                                    ဘဏ်အကောင့်ထဲသို့ လစဉ် လကုန်ရက်တိုင်းတွင် စာရင်းရှင်းတမ်းဖြင့် ငွေပေးချေသွားပါမည်။

                                </li>
                                <li> ၉.၂ ဆရာတစ်ဦးချင်းစီနှင့် ပညာစုဗူးတို့နှစ်ဦးသဘောတူချုပ်ဆိုထားသော စာချုပ်ပါ
                                    သဘောတူညီချက်များနှင့် မကိုက်ညီသော အပြုအမူများကို ပြုလုပ်ပါက ပညာစုဗူးဘက်မှ ဆရာများအား
                                    ငွေပေးချေမှုနှင့်ပတ်သတ်၍ တရားဝင်ပယ်ဖျက်ခြင်း ထိန်ချန်ခြင်းများ ပြုလုပ်နိုင်ပါသည်။
                                </li>
                            </div>
                        </div>
                    </div>
                    <!-- item 10-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                ၁၀။ သင်တန်းကြေး ပြန်အမ်းခြင်း
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">


                                <li> ၁၀.၁ ပညာစုဗူးဘက်မှ အွန်လိုင်းသင်တန်းကြေးများကို အတန်းမဖွင့်မီ ၃ရက်အတွင်းတွင်
                                    ငွေပြန်မအမ်းပါ။ အတန်းဖွင့်ရန် ၃ရက်အထက်လိုသေးပြီး ခိုင်လုံသောအကြောင်းပြချက်ရှိပါက
                                    သင်တန်းကြေး၏ ၅၀ ရာခိုင်နှုန်းကို ပညာစုဗူးမှ ငွေပြန်အမ်းပါမည်။ခိုင်လုံသော
                                    အကြောင်းပြချက် ဟုတ်မဟုတ်ကို ပညာစုဗူးဘက်မှ စစ်ဆေးပြီး ဆုံးဖြတ်ပိုင်ခွင့်ရှိသည်။
                                </li>
                            </div>
                        </div>
                    </div> <!-- item 11-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                ၁၁။ သင်တန်းကြေးပြောင်းလဲခြင်း
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> ၁၁.၁ ပညာစုဗူးဘက်မှ သင်တန်းကြေးများ၊ ဝန်ဆောင်မှုများနှင့်ပတ်သတ်သော ဈေးနှုန်းများ၊
                                    အခမဲ့ဝန်ဆောင်မှုတို့ကို အချိန်မရွေး ပြောင်းလဲသတ်မှတ်နိုင်သည်။ သို့ဖြစ်၍
                                    သင်တန်းကြေးများမှာ ကျောင်းသားတစ်ဦးချင်းစီအတွက် ဝယ်ယူသည့် အချိန်ကာလပေါ်မူတည်၍
                                    အပြောင်းအလဲရှိနိုင်သည်။
                                </li>
                                <li> ၁၁.၂ သင်တန်းကြေး အပြောင်းအလဲများနှင့် ပတ်သတ်၍ အသိပေးအကြောင်းကြားမှုများအား
                                    ကျောင်းသားများထံသို့အခြားသင့်တော်သော နည်းလမ်းများဖြင့်လည်း ဆောင်ရွက်သွားမည် ဖြစ်သည်။
                                </li>
                            </div>
                        </div>
                    </div> <!-- item 12-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                ၁၂။ မှတ်ချက်(ရီဗျူး)ပေးခြင်းနှင့် ဒစ်စကောင့်ရမှုများ

                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> ၁၂.၁ သင်တန်းတစ်ခုပြီးဆုံးပါက ပညာစုဗူးဘက်မှပေးပို့သော လင့်ခ်မှတစ်ဆင့်
                                    သင်တန်းသားများမှ မှတ်ချက်များပေးပါက နောက်တက်မည့် သင်တန်းအတွက်
                                    ဒစ်စကောင့်များရရှိမည်ဖြစ်သည်။
                                </li>
                            </div>
                        </div>
                    </div> <!-- item 13-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                ၁၃။ ဝင်ငွေခွန်
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">
                                <li> ၁၃.၁ ဆရာများဘက်မှ အတန်းတစ်တန်းတွင် စုစုပေါင်းရရှိသောသင်တန်းကြေး၏ ၁၀ရာခိုင်နှုန်း
                                    ကို ဝန်ဆောင်ခအနေဖြင့် ပညာစုဗူးwebsiteထံပေးဆောင်ရမည်ကို သိရှိပြီးဟုယူဆပါသည်။</li>
                            </div>
                        </div>
                    </div> <!-- item14--> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                ၁၄။ ရပ်စဲခြင်း
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExampleEnglish">
                            <div class="accordion-body">

                                <li> ဝက်ဆိုဒ် ၏စည်းမျဉ်းစည်ကမ်းနှင့်မကိုက်ညီသော အပြုအမူများကို လုပ်ဆောင်ပါက သင်
                                    ၏အကောင့်အား ယာယီရပ်ဆိုင်းခြင်း အပြီးအပိုင်ရပ်စဲခြင်းတို့အားကျွန်ုပ်တို့
                                    ပြုလုပ်ပိုင်ခွင့်ရှိသည်။
                                </li>
                                <li> ကျိုးကြောင်းဆီလျော်သော အကြောင်းကြားချက် ပေးပို့ပြီးနောက်ဖြစ်စေ
                                    အကျိုးအကြောင်းမပေးပို့ဘဲဖြစ်စေ ကျွန်ုပ်တို့ ၏ ဝက်ဆိုဒ်အား သင့် ၏ဝင်ရောက်မှုကို
                                    ရပ်ဆိုင်းနိုင်ပြီး သင်နှင့်ဆက်စပ်နေသော အချက်အလက်အားလုံးကို ဆုံးရှုံးစေကာ
                                    ပျက်စီးစေနိုင်သည်။
                                </li>
                            </div>
                        </div>
                    </div>
                    <p  class="text-danger">
                        အထက်တွင် ဖော်ပြထားသော စည်းမျဉ်းများ နှင့်ပတ်သက်၍ ထပ်မံသိရှိလိုပါက sys@pyinnyar-subuu.com သို့ အီးမေးလ် ပေးပို့ မေးမြန်းနိုင်သည်။ 
                    </p>



                    <!-- </div> -->




                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
    <div th:replace="@{fragments/footer}"></div>
    	
        <script src="/js/main.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d7fbea9359.js" crossorigin="anonymous"></script>
    <script th:src="@{../js/main.js}"></script>

</body>
<script>
    const burmese = document.getElementById("LanguageBurmese");
    const english = document.getElementById("LanguageEnglish");

    const btn = document.getElementById("toggle");
    btn.onclick = function () {
        if (burmese.style.display !== "none") {
            btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
  <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
  <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
</svg>  မြန်မာစာသို့ပြောင်းပါ`;
            burmese.style.display = "none";
            english.style.display = "block";
        } else {
            btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
  <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
  <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
</svg>    Change to English `;
            english.style.display = "none";
            burmese.style.display = "block";
        }
    };
</script>

</html>